/* * default-css */
/* font-family: 'Roboto Flex', sans-serif; */
*{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
}
main{
    Font-family: sans-serif;
    width: 1040px;
    margin: auto;
}
/* * header-menu */
.header-menu{
    background-color: black;
    padding: 30px 0px;
}
.header-menu ul{
    text-align: center;
    list-style: none;
}
.header-menu ul li{
    display: inline-block;
    position: relative;
}
.header-menu ul li a{
    color: #a79d9d;
    padding: 15px 18px;
    display: inline-block;
}
.header-menu ul li:hover> a{
    color: whitesmoke;
    cursor: pointer;
}
/* * dropdown-menu-start */
.header-menu ul li ul {
    position: absolute;
    top: 79px;
    left: 0;
    background-color: #212120;
    width: 250px;
    border-top: 5px solid #3b6ed9;
}
.header-menu ul li ul li {
    display: block;
    border-bottom: 1px solid #a79d9d85;
    padding-right: 0px;
    transition: .5s;
}
.header-menu ul li ul li:hover {
    background-color: #3b6ed9;
    padding-right:8px ;
}
.header-menu ul li ul li a{
    display: block;
    color: white;
}
/* *hover-part */
.header-menu ul li ul{
    opacity: 0;
    visibility: hidden;
    transition: .4s;
    top: 100px;
}
.header-menu ul li:hover > ul{
    opacity: 1;
    visibility: visible;
    top: 79px;
}

.header-menu ul li ul li a:hover{}
/* * 2nd dropdown */
.header-menu ul li ul li ul {
    left: 100%;
    top: 0px !important;
}

/* * banner-section */
.banner-section{
    background-image: url(https://i.postimg.cc/fR0jn4bv/young-mens.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 620px;
}
.banner{
    text-align: center;
    padding-top: 221px;
}
.banner h1{
    background-color: #ffffff;
    display: inline-block;
    padding: 11px 24px;
    font-size: 30px;
}
.banner p{
    background-color: #ffffff;
    color: #212120;
    width: 995px;
    margin-left: 20px;
    font-size: 18px;
    padding: 2px;
    margin-top: 15px;
}
.banner a{
    color: white;
    background: red;
    border: 1px solid red;margin-top: 24px;display: inline-block;
    padding: 10px 18px;
    transition: .5s;
}
.banner a:hover{
    color: black;
    background-color: white;
}
/* * about-section */
.about{
   box-shadow: 1px -1px 1px 1px #ddd;
    margin-top: 20px;
}
.about h1{
    text-align: center;
    margin-top: 45px;
    font-size: 33px;
    font-family: 'Roboto Flex', sans-serif; 
    font-weight: 400;
    margin-bottom: 15px;
}
.about ul li{
    text-align: center;
    margin-top: 15px;
}
.last-li{
    padding-bottom: 60px;
}
/** <!-- about-section-2 --> */
.about-2{
    background-color: #ffffff;
    box-shadow: 0px 0px 20px 1px rgba(221, 221, 221, 0.842);
}
.about-2 h1{
    text-align: center;
    margin-top: 20px;
    font-size: 33px;
    font-family: 'Roboto Flex', sans-serif; 
    font-weight: 400;
    margin-bottom: 15px;
    padding-top: 30px;
}
.about-2 ul li{
    text-align: center;
    margin-top: 15px;
    list-style-position: inside;
}
.last-2-li{
    padding-bottom: 50px;
}
/* * contact-section */
.contact-section{
    background-color: #f2f2f2;
    padding: 50px 150px;
    margin-top: 40px;
    margin-bottom: 30px;
}
.contact-section .email{
    padding: 10px 419px;
    border: 1px solid red;
    padding-left: 10px;
} 
.contact-section a{
    background-color: red;
    color: white;
    border: 1px solid red;
    transition: .5s;
    font-weight: 600;
    padding: 10px 20px;
    font-size: 15px;
    margin-left: -5px;
}
.contact-section a:hover{
    color: black;
    background-color: white;
}
/* * service-section */
.service-section{
    border: 4px dotted rgba(221, 221, 221, 0.486);
    padding-bottom: 50px;
   
}
.service-section h1{
    text-align: center;
    padding-top: 50px ;
    font-size: 33px;
    font-family: 'Roboto Flex', sans-serif; 
    font-weight: 400;
    padding-bottom: 20px;
}
.service-ol {
    list-style: lower-roman;
    display: inline-block;
    margin-left: 50px;
}
.service-ol li{
    padding: 5px;
}
.service-ul{
    list-style: square;
    display: inline-block;
    margin-left: 50px;
}
.service-ul li{
    padding: 5px;
}
.service-ol-2{
    list-style: lower-greek;
    display: inline-block;
    margin-left: 50px;
}
.service-ol-2 li{
    padding: 5px;
}
.list-style{
    text-align: center;
    margin-left: -20px;
}
/* * footer-section */
footer{
    background-color: black;
}
footer p{
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 25px;
}
footer ul{
    text-align: center;
    padding-bottom: 20px;
}
footer ul li{
    display: inline-block;
}
footer ul li a{
    background-color: #4f90de;
    color:black;
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    line-height: 60px;
    margin: 6px;
}
footer ul li a:hover {
    background-color: rgba(245, 245, 245, 0.932);
}
footer ul li a i{
    font-size: 30px;
}